{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/index.css' %}" media="all" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block home_content %}
<div class="banner">
     <div class="jumbotron niagara">
        <div class="container">
            <h1>Travel. Smarter.</h1>

            <p>Understand the history and significance of landmarks while travelling. Make your trips
                about more than just selfies. Make sightseeing more informative. Take SmarTuurs.</p>
{#            <a href="#">#}
{#                <i class="fa fa-play-circle fa-5x"></i>#}
{#            </a>#}
            <audio controls>
              <source src="{% static 'Niagara_Compiled.mp3' %}" type="audio/mp3">
              Your browser does not support the audio element.
            </audio>
        </div>
    </div>
</div>
<div class="about">

</div>

{% endblock home_content %}